<!DOCTYPE html>
<html>
<head>
    <title>WebCam Streaming with MediaPipe</title>
</head>
<body>
    <h1>Exercise Tracker</h1>
    <img id="video" src="" style="width:1000px; height:600px;" alt="Webcam Video">

    <p id="feedback"></p>

    <script>
        var video = document.getElementById('video');
        video.src = "/video_feed";

        function fetchData() {
            fetch("/get_feedback/")
                .then(response => response.json())
                .then(data => {
                    const userInfoElement = document.getElementById("feedback");
                    userInfoElement.innerHTML = `
                        <strong>Feedback:</strong> ${data.textData}<br>
                    `;
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                });
        }
    
        setInterval(fetchData, 100);
    </script>
</body>
</html>